<div id="about-box">
  <h2 class="pull-center"> Our Story </h2>
    <p> We're a nudist collective that codes through collaborative haruspicy. Hope you enjoy our site! Reach us at oliver@xapix.io. </p>
</div>
