<!-- Contact -->
	<div class="mainForm js-contactForm">
		<div class="container">
				<form>
					<div class="col-xs-12 col-lg-8">
						<div class="row">
							<div class="col-xs-12 col-md-6 i">
								<div class="input">
									<input type="text" class="form-control input-field">
									<label class="input-label">
										<span class="input-label-content">Name</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 i">
								<div class="input">
									<input type="email" class="form-control input-field">
									<label class="input-label">
										<span class="input-label-content">Email</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 i">
								<div class="input textform">
									<textarea class="form-control input-field"></textarea>
									<label class="input-label">
										<span class="input-label-content">Message</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 i">
								<button type="submit" class="btn btn-red submit btn-effect">Send message</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<p class="text-center info">5th Avenue, New York, NY 10055-5005, tel: +421 (0) 555 555 555, <a href="#" title="#">info@cloudarena.com</a></p>
		</div>
	
