
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>CloudArena</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<!-- Modernizr -->
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Header -->
	<header id="header" data-0="top: 0%;" data-400="top: -10%;">
		<div class="container">
			<div class="navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="logo">
						<a href="index.html" title="Home"><span class="sprite icon"></span> Cloud<strong>Arena</strong></a>
					</h1>
				</div>

				<nav class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="sub">
							<a href="index.html" title="Home">Home</a>
							<ul>
								<li><a href="index.html" title="Gradient">Gradient</a></li>
								<li><a href="index-color.html" title="Single color">Single color</a></li>
								<li><a href="index-video.html" title="Video">Video</a></li>
								<li><a href="index-image.html" title="Image">Image</a></li>
								<li><a href="index-cols.html" title="Two columns">Two columns</a></li>
								<li><a href="index-full-gradient.html" title="Fullscreen gradient">Fullscreen gradient</a></li>
								<li><a href="index-full-color.html" title="Fullscreen single color">Fullscreen single color</a></li>
								<li><a href="index-full-video.html" title="Fullscreen video">Fullscreen video</a></li>
								<li><a href="index-full-image.html" title="Fullscreen image">Fullscreen image</a></li>
								<li><a href="index-full-cols.html" title="Fullscreen two columns">Fullscreen two columns</a></li>
							</ul>
						</li>
						<li class="active sub">
							<a href="about.html" title="About">About</a>
							<ul>
								<li><a href="icons.html" title="Icons">Icons</a></li>
								<li><a href="landing.html" title="Landing" class="active">Landing</a></li>
							</ul>
						</li>
						<li><a href="pricing.html" title="Pricing">Pricing</a></li>
						<li><a href="blog.html" title="Blog">Blog</a></li>
						<li><a href="contact.html" title="Contact">Contact</a></li>
						<li class="login"><a href="login.html" title="Login"><i class="icon fa fa-lock"></i> Login</a></li>
					</ul>
				</nav>
			</div>

			<div class="text-center wrap">
				<h2>Template <strong>Cloud Arena</strong> for you</h2>
				<h3>Fast &amp; robust template for your online services</h3>

				<!-- Form -->
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<form class="form loginRegistrationForm">
							<div class="row">
								<div class="col-xs-12 col-sm-4 i">
									<div class="input">
										<input type="email" class="form-control input-field">
										<label class="input-label">
											<span class="input-label-content">Email Address</span>
										</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 i">
									<div class="input">
										<input type="password" class="form-control input-field">
										<label class="input-label">
											<span class="input-label-content">Password</span>
										</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 i">
									<button type="submit" class="btn btn-lg btn-yellow btn-effect">Create my account</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</header>


	<!-- Features -->
	<section class="section features">
		<div class="container">
			<header class="text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<h2>Your message for all <strong>2,500 customers</strong></h2>
						<p>
							This template CloudArena was designed to fit your digital product as a presentation site. You can use it in <b>various</b> ways, with different icons and colors. It is ready to navigate users to <b>sign up</b> to your service or product.
						</p>
					</div>
				</div>
			</header>
			<div class="row text-center">
				<div class="col-sm-4 i">
					<span class="sprite icon icon-responsive"></span>
					<h3>
						<a href="#" title="#">Fully Responsive</a>
					</h3>
					<p>All pages from this template are fully responsive. You can use it on any device.</p>
				</div>
				<div class="col-sm-4 i">
					<span class="sprite icon icon-technologies"></span>
					<h3>
						<a href="#" title="#">Latest Technologies</a>
					</h3>
					<p>Based on latest version of <b>Bootstrap</b> framework - 3.3</p>
				</div>
				<div class="col-sm-4 i">
					<span class="sprite icon icon-animations"></span>
					<h3>
						<a href="#" title="#">Amazing Icons</a>
					</h3>
					<p>Template contains big set of icons that can be used with this theme or in your connected application</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Functions -->
	<section class="section gray functions">
		<div class="container">
			<header class="text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<h2>Simple but <strong>Powerfull</strong></h2>
						<p>You can use this section as presentation of your product or work. You can put your own images into computer screen and change it by clicking on icons. This is interactive presentation of your screens.</p>
					</div>
				</div>
			</header>

			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<div class="row js-screens-filter">
						<div class="col-sm-15 i">
							<a href="#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab">
								<span class="sprite icon icon-about"></span>
							</a>
							<a href="#tab-about-us" aria-controls="tab-about-us" role="tab" data-toggle="tab" class="hoverExtend active">About us</a>
						</div>
						<div class="col-sm-15 i">
							<a href="#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab">
								<span class="sprite icon icon-pricing-tables"></span>
							</a>
							<a href="#tab-pricing-tables" aria-controls="tab-pricing-tables" role="tab" data-toggle="tab" class="hoverExtend">Pricing tables</a>
						</div>
						<div class="col-sm-15 i">
							<a href="#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab">
								<span class="sprite icon icon-blog"></span>
							</a>
							<a href="#tab-blog-page" aria-controls="tab-blog-page" role="tab" data-toggle="tab" class="hoverExtend">Blog page</a>
						</div>
						<div class="col-sm-15 i">
							<a href="#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab">
								<span class="sprite icon icon-contact"></span>
							</a>
							<a href="#tab-contact" aria-controls="tab-contact" role="tab" data-toggle="tab" class="hoverExtend">Contact</a>
						</div>
						<div class="col-sm-15 i">
							<a href="#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab">
								<span class="sprite icon icon-login"></span>
							</a>
							<a href="#tab-login" aria-controls="tab-login" role="tab" data-toggle="tab" class="hoverExtend">Login</a>
						</div>
					</div>

					<div class="tab-content notebook">
						<!-- Notebook -->
						<img src="img/macbook.png" alt="#" width="968" height="510" class="img-responsive">

						<!-- Images -->
						<div role="tabpanel" class="tab-pane fade image in active" id="tab-about-us">
							<img src="tmp/about-us.jpg" alt="#" width="667" height="417" class="img-responsive">
						</div>
						<div role="tabpanel" class="tab-pane fade image" id="tab-pricing-tables">
							<img src="tmp/pricing-tables.jpg" alt="#" width="667" height="417" class="img-responsive">
						</div>
						<div role="tabpanel" class="tab-pane fade image" id="tab-blog-page">
							<img src="tmp/blog.jpg" alt="#" width="667" height="417" class="img-responsive">
						</div>
						<div role="tabpanel" class="tab-pane fade image" id="tab-contact">
							<img src="tmp/contact.jpg" alt="#" width="667" height="417" class="img-responsive">
						</div>
						<div role="tabpanel" class="tab-pane fade image" id="tab-login">
							<img src="tmp/login.jpg" alt="#" width="667" height="417" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Testimonials -->
	<div class="section testimonials">
		<div class="container">
			<header class="text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<h2>We're building <strong>Relationships</strong></h2>
					</div>
				</div>
			</header>

			<div class="row">
				<!-- User testimonials -->
				<div class="col-xs-12 col-sm-7 userTestimonials">
					<div class="js-testimonials-carousel">
						<div class="item">
							<div class="col-xs-10 col-xs-offset-1">
								<img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
								<h3>George Doe</h3>
								<h4>– Blackhorse owner –</h4>
								<p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="col-xs-10 col-xs-offset-1">
								<img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
								<h3>Nick Doe</h3>
								<h4>– Digiapple owner –</h4>
								<p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.</p>
							</div>
						</div>
						<div class="item">
							<div class="col-xs-10 col-xs-offset-1">
								<img src="tmp/80x80.jpg" alt="#" width="80" height="80" class="image">
								<h3>Andrew Doe</h3>
								<h4>– T-crowd owner –</h4>
								<p>Publishing your users stories abount your product can be usefull for your next clients. You can describe how your clients use your product to increase theirs busssinesses. Tempalte is ready to display information from your social media sites.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Twitter -->
				<div class="col-xs-12 col-sm-4 col-sm-offset-1 tweets js-tweets">
					<div class="item">
						<div class="i">
							<p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
							<span class="time">Posted 13 hours ago</span>
						</div>
						<div class="i">
							<p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
							<span class="time">Posted 22 hours ago</span>
						</div>
						<div class="i">
							<p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
							<span class="time">Posted 1 day ago</span>
						</div>
					</div>
					<div class="item">
						<div class="i">
							<p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
							<span class="time">Posted 13 hours ago</span>
						</div>
						<div class="i">
							<p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
							<span class="time">Posted 22 hours ago</span>
						</div>
						<div class="i">
							<p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
							<span class="time">Posted 1 day ago</span>
						</div>
					</div>
					<div class="item">
						<div class="i">
							<p>Amazing <span class="green"><strong>@acusammus</strong></span> theme lorem ipsum dolores! <span class="green"><strong>@CloudArena</strong></span> theme is great theme</p>
							<span class="time">Posted 13 hours ago</span>
						</div>
						<div class="i">
							<p>Cheers <span class="green"><strong>@jura_mol</strong></span> it's exciting to see people getting the most out of it!</p>
							<span class="time">Posted 22 hours ago</span>
						</div>
						<div class="i">
							<p>TOP <span class="green"><strong>@molnar</strong></span>: Making a new <span class="green"><strong>@CloudArena</strong></span> theme? <span class="green"><strong>@wrapbootstrap</strong></span> and lorem ipsum.</p>
							<span class="time">Posted 1 day ago</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Features -->
	<section class="section gray aboutFeatures">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 col-md-pull-1 col-lg-4 col-lg-pull-1 i image pull-right">
					<img src="img/feature-icon-1.png" alt="#" width="185" height="243" class="img-responsive">
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 i text">
					<h2>Boostrap <strong>v 3.3</strong></h2>
					<p>Template is based on newest version of Bootstrap. You can use all bootstrap features like grid, buttons, tables etc. etc..</p>
					<a href="#" title="#" class="more">More <span class="sprite icon-arrow"></span></a>
				</div>
			</div>
		</div>
	</section>

	<!-- Features -->
	<section class="section aboutFeatures">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 i image">
					<img src="img/feature-icon-2.png" alt="#" width="207" height="208" class="img-responsive">
				</div>
				<div class="col-xs-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-1 i text">
					<h2>Customizable <strong>options</strong></h2>
					<p>You can easily change color scheme or template. Template blocks can be rearagned as you need. You can follow documentation to see all features and possibilities</p>
					<a href="#" title="#" class="more">More <span class="sprite icon-arrow"></span></a>
				</div>
			</div>
		</div>
	</section>

	<!-- Meet our team -->
	<div class="section ourTeam">
		<div class="container">
			<header class="text-center">
				<h2>Meet <strong>Our Team</strong></h2>
			</header>

			<div class="row">
				<div class="col-xs-6 col-sm-3 i">
					<div class="c text-center">
						<div class="wrap">
							<img src="tmp/team-1.jpg" alt="#" width="270" height="270" class="img-responsive">
							<div class="info">
								<h3 class="name">John Doe</h3>
								<h4 class="position">Chief Executive Officer</h4>
							</div>
						</div>
						<div class="more">
							<p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis. Sed mauris at sollicitudin. Etiam maximus mauris vel leo mattis, non venenatis magna finibus vestibulum.</p>
							<div class="socials">
								<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<div class="c text-center">
						<div class="wrap">
							<img src="tmp/team-2.jpg" alt="#" width="270" height="270" class="img-responsive">
							<div class="info">
								<h3 class="name">Elizabeth Doe</h3>
								<h4 class="position">Marketing Specialist</h4>
							</div>
						</div>
						<div class="more">
							<p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis. Sed mauris at sollicitudin. Etiam maximus mauris vel leo mattis, non venenatis magna finibus vestibulum.</p>
							<div class="socials">
								<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<div class="c text-center">
						<div class="wrap">
							<img src="tmp/team-3.jpg" alt="#" width="270" height="270" class="img-responsive">
							<div class="info">
								<h3 class="name">Doug Doe</h3>
								<h4 class="position">Head of Support</h4>
							</div>
						</div>
						<div class="more">
							<p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis. Sed mauris at sollicitudin. Etiam maximus mauris vel leo mattis, non venenatis magna finibus vestibulum.</p>
							<div class="socials">
								<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 i">
					<div class="c text-center">
						<div class="wrap">
							<img src="tmp/team-4.jpg" alt="#" width="270" height="270" class="img-responsive">
							<div class="info">
								<h3 class="name">Fabricio Doe</h3>
								<h4 class="position">Chief Technical Officer</h4>
							</div>
						</div>
						<div class="more">
							<p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis. Sed mauris at sollicitudin. Etiam maximus mauris vel leo mattis, non venenatis magna finibus vestibulum.</p>
							<div class="socials">
								<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
								<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
								<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Stats -->
	<div class="section stats">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-projects"></span>
							<div class="num js-count" data-to="61102" data-speed="3000">61,102</div>
							<h2>Projects</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-hours"></span>
							<div class="num js-count" data-to="925685" data-speed="3000">925,685</div>
							<h2>Hours online</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-done"></span>
							<div class="num js-count" data-to="43517" data-speed="3000">43,517</div>
							<h2>Happy clients</h2>
						</div>
						<div class="col-xs-12 col-sm-3 i">
							<span class="sprite icon icon-diary"></span>
							<div class="num"><span class="js-count" data-to="2000" data-speed="3000">2000</span>+</div>
							<h2>Contacts</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Clients -->
	<section class="section clients">
		<div class="container">
			<header class="text-center">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
						<h2>Clients</h2>
						<p>Decent listing with your clients. Fully customizable and ready to use in any subpages as you want. Responsive for any numbers of clients in this section.</p>
					</div>
				</div>
			</header>

			<div class="row">
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/digiapple.png" alt="#" width="69" height="102" class="img-responsive">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/backhorse-digital.png" alt="#" width="106" height="119">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/veagle-technologies.png" alt="#" width="117" height="106">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/coffetwist.png" alt="#" width="77" height="106">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/diagonal.png" alt="#" width="128" height="87">
					</a>
				</div>
				<div class="col-xs-4 col-md-2 i">
					<a href="#" title="#">
						<img src="tmp/clients/t-crowd.png" alt="#" width="75" height="103">
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- Pricing tables -->
	<div class="pricingTables landing">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-3 i">
					<div class="c">
						<div class="head">Free</div>
						<div class="price">
							Free
						</div>
						<div class="info">
							<strong>2 GB</strong> RAM<br />
							<strong>1 Core</strong> Processor<br />
							<strong>25 GB</strong> of space<br />
							<strong>2 TB</strong> Transfer speed<br />
							No SSL
						</div>
						<div class="btnWrap">
							<a href="#" title="#" class="btn btn-gray">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i">
					<div class="c">
						<div class="head">Multisite</div>
						<div class="price">
							15 <sup>$</sup> <span>/ site</span>
						</div>
						<div class="info">
							<strong>4 GB</strong> RAM<br />
							<strong>2 Core</strong> Processor<br />
							<strong>50 GB</strong> of space<br />
							<strong>4 TB</strong> Transfer speed<br />
							SII Basic
						</div>
						<div class="btnWrap">
							<a href="#" title="#" class="btn btn-gray">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i active">
					<div class="c">
						<div class="head">Multisite</div>
						<div class="price">
							30 <sup>$</sup> <span>/ multi</span>
						</div>
						<div class="info">
							<strong>8 GB</strong> RAM<br />
							<strong>4 Core</strong> Processor<br />
							<strong>100 GB</strong> of space<br />
							<strong>6 TB</strong> Transfer speed<br />
							<strong>Full SSL</strong> security
						</div>
						<div class="btnWrap">
							<a href="#" title="#" class="btn btn-gray">Sign Up</a>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 i">
					<div class="c">
						<div class="head">Extended</div>
						<div class="price">
							90 <sup>$</sup> <span>/ unlimited</span>
						</div>
						<div class="info">
							<strong>16 GB</strong> RAM<br />
							<strong>6 Core</strong> Processor<br />
							<strong>200 GB</strong> of space<br />
							<strong>8 TB</strong> Transfer speed<br />
							<strong>Full SSL</strong> security
						</div>
						<div class="btnWrap">
							<a href="#" title="#" class="btn btn-gray">Sign Up</a>
						</div>
					</div>
				</div>
			</div>

			<p class="text-center moreInfo">* This pricing table is only for <strong>demo purposes</strong> only. This template is only available on <a href="http://wrapbootstrap.com/" target="_blank">wrapbootstrap.com</a></p>
		</div>
	</div>

	<!-- Business theme -->
	<div class="section businessTheme">
		<div class="container text-center">
			<h2>Do you need beautiful business theme?</h2>
			<a href="#" title="#" class="btn btn-lg btn-yellow btn-effect">Purchase CloudArena <span>$15 only</span></a>
		</div>
	</div>

	<!-- Google map -->
	<div id="googleMap" data-lat="40.779165" data-lng="-73.962928"></div>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

	<!-- Footer -->
	<footer id="footer">
		<div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-sm-3 i">
						<h2>CloudArena</h2>
						<div class="content">
							Some street No. 58<br />
							951 55 Bratislava<br />
							Slovakia<br />
							+421 555 888 999<br />
							<a href="#" title="#">info@yourdomain.com</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Newsletter</h2>
						<p>Get the latest news via email:</p>
						<form>
							<input type="email" class="form-control">
							<button type="submit" class="submit sprite"></button>
						</form>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Follow</h2>
						<p>Get close to us</p>

						<div class="socials">
							<a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
							<a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 i">
						<h2>Account</h2>
						<div class="content clearfix">
							<a href="#" title="#">My account</a>
							<a href="#" title="#">Activity history</a>
							<a href="#" title="#">Deploys</a>
							<a href="#" title="#">My worklogs</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-6 i">Copyright © 2015 <a href="http://arena.tomaj.sk/" title="CloudArena">CloudArena</a></div>
					<div class="col-xs-6 i">Web Design: <a href="http://www.jurajmolnar.com/" title="Juraj Molnar" target="_blank">Juraj Molnár</a></div>
				</div>
			</div>
		</div>
	</footer>



	<!-- JS -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
	<script>
	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	e.src='//www.google-analytics.com/analytics.js';
	r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	ga('create','UA-XXXXX-X');ga('send','pageview');
	</script> -->
</body>
</html>
